# wipi build environment
# copy to .env and fill in  values

# alpine configuration
HOSTNAME=wipi02
TIMEZONE=UTC
ALPINE_VER=3.23.3
ALPINE_ARCH=armhf

# user creation (wheel group for sudo access)
USERNAME=pi02
USER_PASSWD=alpine

# wifi (optional - leave empty to skip)
WIFI_SSID=
WIFI_PASSWD=

# ssh public key for user login (paste  public key here)
SSH_PUBKEY="ssh-rsa AAAA..."