HOSTNAME=${HOSTNAME}
TZ=${TZ}
PIHOLE_PASSWD=${PIHOLE_PASSWD}
WG_ENDPOINT=${WG_ENDPOINT}
CF_API_TOKEN=${CF_API_TOKEN}
CF_ZONE_ID=${CF_ZONE_ID}
CF_DOMAIN=${CF_DOMAIN}
WIFI_SSID=${WIFI_SSID}
WIFI_PASSWD=${WIFI_PASSWD}
